nav {
    background-color: rgb(6, 6, 87);
    padding: 10px;
}

nav a {
    color: white;
    padding: 15px;
    display: block;
}

main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid rgb(6, 6, 87);
  padding: 0;
  box-shadow: 0 0 20px grey;
}

h1 {
    color: rgb(6, 6, 87);
    width: 100%;
    white-space: nowrap;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid white;
    padding: 0;
    box-shadow:0 0 30px grey;
}

p {
    padding: 0;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  padding: 0;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}